body{
    @media(min-width: 800px){
        background-color: hsl(235, 18%, 26%);
        display: grid;
        place-items: center;
        height: 100dvh;
    }
    main{
        margin: auto;
        background-color: hsl(0, 0%, 100%);
        @media(min-width: 768px){
            border-radius: 40px;
            padding: 1rem;
            display: flex;
            #mobile-svg-cont img{
                display: none;
            }
        }
        #mobile-svg-cont img{
            width: 100%;
            height: 300px;
        }
        #content-container{
            width: 90%;
            margin:auto;
            h1{
                font-size: 45px;
            }
            @media(min-width: 430px){
                width: 85%;
            }
            @media(min-width:768px){
                width: 43%;
                h1{
                    font-size: 55px;
                }
            }
            
        }
        .flex{
            @include flex(flex);
            svg{
                margin-right: 10px;
            }
            p {
                margin-top: 0;
                color: hsl(234, 29%, 20%)
            }
        }
        #desktop-svg-cont{
            display: none;
            @media(min-width:768px){
                display: block;
                border-radius: 10px;
                padding-left: 1em;
            }
        }
    }
} 
