body{
    @media(min-width: 800px){
        background-color: hsl(235, 18%, 26%);
        display: grid;
        place-items: center;
        height: 100dvh;
        position: relative;

    }
    main{
        margin: auto;
        background-color: hsl(0, 0%, 100%);
        @media(min-width: 650px){
            padding: 1rem;
            border-radius: 40px;
            @include flex(flex,null,null,null,row-reverse);
            
        }
        #mobile-svg-cont img  {
            width: 100%;
            height: 300px;
            @media(min-width: 650px){
                height: 100%;
            }
        }
        #content-container{
            width: 90%;
            margin:auto;
            h1{
                font-size: 45px;
            }
            @media(min-width: 430px){
                width: 85%;
            }
            @media(min-width:768px){
                width: 43%;
                h1{
                    font-size: 55px;
                }
            }
        }
        .flex{
            @include flex(flex);
            svg{
                margin-right: 10px;
            }
            p {
                margin-top: 0;
                color: hsl(234, 29%, 20%)
            }
        }
    }
} 
