form{
    margin-top: 3em;
    label{
        font-size: x-small;
    }
    .flex{
        @include flex(flex,null,null,null,column);
        input,
        button {
          padding: 1rem;
          border-radius: 5px;
          border: 1px solid hsl(231, 7%, 60%);
        }
        input{
            margin-top: .5em;
            &:required{
                background-color: white;
            }
            &:required:invalid{
                border: solid red 1px;
            }
        }
        button{
            background-color: hsl(234, 29%, 20%);
            color: hsl(0, 0%, 100%);
            margin: 1rem 0;
        }
    }
}